@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

* {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

body {
    background-color: #f3f5fc;

}

main {
    position: relative;
    width: 98vw;
}

.container {
    display: flex;
    padding: 0.10em;
    justify-content: center;
    overflow: hidden;
    margin-top: 10px;



}

.d-none {
    display: none;
}

.d-flex { 
    display:flex;
}
.item-1 {
    margin-right: 10px;
}

.txt-criptography {
    border: none;
    background-color: transparent;
    outline: none;
    color: #0A3871;
}


.item-2 {
    margin-left: 10px;

}
.figure {
    width: 30vw;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
}

.img-bg {
    display: flex;
    margin: 0 auto;
    height: 50vh;
}

.txt-descriptography {
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    width: 30vw;

    border-radius: 5px;
    border: none;
    outline: none;
    color: #0A3871;
    padding: 0.3em;
}

.no-resize {
    resize: none;
}

.logo {
    background-color: rgb(250, 250, 250);
    box-shadow: 10px 1px 10px 1px #308af085;
    padding: 0.5em;
    display: flex;
}

.logo-txt{
    width: 90vw;
    text-align: right;
}
.txt-center {
    text-align: center;
    
}

.btn {
    display: flex;
    justify-content: center;
}


#btn-criptography {
    border: none;
    width: 250px;
    color: white;
    padding: 10px;
    border-radius: 90px;
    background-color: #0A3871;
    margin: 10px;

}

#btn-criptography:hover {
    background-color: #07264d;

}

#btn-descriptography {
    border: none;
    width: 250px;
    color: #0A3871;
    padding: 10px;
    border-radius: 90px;
    background-color: #D8DFE8;
    margin: 10px;

}

#btn-descriptography:hover {
    background-color: #c0c0c0;

}



#btn-copy {
    border: none;
    width: 250px;
    color: #0A3871;
    padding: 10px;
    border-radius: 90px;
    background-color: transparent;
    border: 1px solid #0A3871;
    margin: 10px;


}

#btn-copy:hover {
    border: none;
    width: 250px;
    color: #308af0;
    background-color: transparent;
    border: 1px solid #308af0;


}


footer {
    background-color: rgb(250, 250, 250);
    box-shadow: 25px 10px 10px 10px #308af085;

    left: 0;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
}

@media(max-width:1080px) {
    * {
        overflow: visible;
    }
    
    main {
        position: relative;
        width: 98vw;
    }
    

    .container {
        width: 98vw;
        display: block;
        justify-content: center;
    }

    #txt-criptography{
        width: 98%;
        margin-right: 10px;
    }


    #txt-descriptography {
        width: 91.5vw;
        margin: 0 auto;


    }

    .btn {
        display: block;
    }

    #btn-criptography {
        width: 90vw;
        text-transform: uppercase;

    
    
    }
    #btn-descriptography {
        width: 90vw;
    
        text-transform: uppercase;

    
    }
    #btn-copy {
        width: 90vw;
        text-transform: uppercase;

    
    
    }
    
    #btn-copy:hover {
        width: 90vw;
        text-transform: uppercase;

    
    }
    
    .item-1 {
        display: block;
        width: 98vw;
        margin: 10px;

    }

    .item-2 {
        width: 98vw;

    }
    .figure {
        display: none;

    }
 
    .btn-block {
        width: 100%;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer {
        background-color: rgb(250, 250, 250);
        box-shadow: 25px 10px 10px 10px #308af085;
        
        left: 0;
        margin-top: 100px;
        padding-top: 20px;
        padding-bottom: 10px;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    
}