* {
    margin: 0;
    box-shadow: 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 48px */

}

body {
    background-color: #f3f5fc;
}

main {
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}


.center {
    align-self: center;
    justify-content: center;
    margin: 0 auto;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.no-resized {
    resize: none;
}

.logo {
    padding: 10px;
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
    margin: 0 auto;

}

.txt-criptography {
    width: 50vw;
    border: none;
    height: 95vh;
    background-color: transparent;
    outline: none;
    padding: 10px;
    color: #0A3871;

}

.txt-descriptography {
    width: 30vw;
    height: 90vh;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: none;
    outline: none;
    padding: 20px;
    color: #0A3871;
}

.figure {
    width: 30vw;
    height: 100vh;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;

}

.img-bg {
    display: flex;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

#btn-criptography {
    border: none;
    width: 250px;
    color: white;
    padding: 10px;
    border-radius: 90px;
    background-color: #0A3871;
    margin: 10px;

}

#btn-criptography:hover {
    background-color: #07264d;

}

#btn-descriptography {
    border: none;
    width: 250px;
    color: #0A3871;
    padding: 10px;
    border-radius: 90px;
    background-color: #D8DFE8;
    margin: 10px;

}

#btn-descriptography:hover {
    background-color: #c0c0c0;

}



#btn-copy {
    border: none;
    width: 250px;
    color: #0A3871;
    padding: 10px;
    border-radius: 90px;
    background-color: transparent;
    border: 1px solid #0A3871;
    margin: 10px;


}

footer {
    width: 90vw;
    height: 100px;
    bottom: 0;
    margin: 0 auto;
    margin-top: 10vw;
}

footer hr {
    margin-bottom: 20px;
    margin-left: 0 auto;

}

footer p {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

@media (max-width: 768px) {
    main {
        width: 100vw;
        display: block;
        margin: 0 auto;
    }

    footer hr {
        width: 90vw;
        margin-bottom: 30px;
        margin-left: 0 auto;

    }


    .box {
        display: block;
    }

    .txt-criptography {
        width: 90vw;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .txt-descriptography {
        width: 90vw;
        margin-bottom: 10px;
        margin-top: 10px;

    }

    .figure {
        display: none;

    }

    .logo {
        padding: 10px;
        width: 90vw;
        margin: 0 auto;
    }

    #btn-criptography {
        text-transform: uppercase;
        border: none;
        width: 90vw;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #btn-descriptography {
        text-transform: uppercase;

        border: none;
        width: 90vw;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #btn-copy {
        text-transform: uppercase;
        width: 90vw;
        color: #0A3871;
        padding: 10px;
        border-radius: 90px;
        background-color: transparent;
        border: 1px solid #0A3871;
        margin: 10px;
    }

}

@media(max-width:1080px) and (min-width:768px) {


    #btn-criptography {
        border: none;
        width: 160px;
        color: white;
        border-radius: 90px;
        background-color: #0A3871;

    }

    #btn-descriptography {
        border: none;
        width: 160px;
        color: #0A3871;
        border-radius: 90px;
        background-color: #D8DFE8;
    }

    #btn-copy {
        border: none;
        width: 160px;
        color: #0A3871;
        padding: 10px;
        border-radius: 90px;
        background-color: transparent;
        border: 1px solid #0A3871;
        margin: 10px;
    }

}